# Python

**pycache**/
*.pyc
*.pyo
*.pyd

# Virtual Environment

venv/
.venv/
env/

# Environment Variables

.env

# Streamlit

.streamlit/

# IDE

.vscode/
.idea/

# MacOS

.DS_Store

# Logs

*.log

# Docker

docker-compose.override.yml
